#!/usr/bin/env python
PACKAGE = "sonoptix_echo_driver_ros"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("sonar_frame", str_t, 0, "The frame the sensor is attached to", "scrufy_sonar_base_link")
gen.add("sonar_range", double_t, 0, "The range of the sensor", 10, 0, 200)
gen.add("default_distance_value", double_t, 0, "The laserscan range value when no obstacle is found", 999, 0, 999)
gen.add("sonar_min_range", double_t, 0, "The minimum range to be considered as valid for the laserscan message", 0.5, 0, 200)
gen.add("image_data_factor", double_t, 0, "A factor that is multiplied on the original sonar image data", 1, 0, 200)
gen.add("publish_sonar_image", bool_t, 0, "When this flag is true, the original sensor image is published as a sensor_msgs/Image message", False)
gen.add("flip_input_x_sonar_image", bool_t, 0, "When this flag is true, the sonar image produced by the sensor is flipped on the x axis before any computation", False)
gen.add("flip_input_y_sonar_image", bool_t, 0, "When this flag is true, the sonar image produced by the sensor is flipped on the y axis before any computation", False)
gen.add("flip_output_x_sonar_image", bool_t, 0, "When this flag is true, and the sonar image is published, the original sensor image is published as a sensor_msgs/Image message with a flipped x axis", True)
gen.add("flip_output_y_sonar_image", bool_t, 0, "When this flag is true, and the sonar image is published, the original sensor image is published as a sensor_msgs/Image message with a flipped y axis", True)
gen.add("flip_output_x_sonar_image_cone", bool_t, 0, "When this flag is true, the cone projection image is published as a sensor_msgs/Image message with a flipped x axis", True)
gen.add("flip_output_y_sonar_image_cone", bool_t, 0, "When this flag is true, the cone projection image is published as a sensor_msgs/Image message with a flipped y axis", True)
gen.add("minimum_obstacle_value", int_t, 0, "The minimum pixel value of the sensor image to be considered as an obstacle", 1, 1, 255)
gen.add("mock_hardware", bool_t, 0, "When this flag is true, the driver does not connect to real hardware and publishes random data instead", False)
gen.add("draw_distance_lines", bool_t, 0, "When this flag is true, the driver draws distance lines on the sonar image", True)
gen.add("enabled", bool_t, 0, "When this flag is true, the driver starts the sensor", False)


exit(gen.generate(PACKAGE, PACKAGE, "SonoptixEcho"))
